main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: auto;
}

.about {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
}

.picture-of-me {
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
  background-image: url("/img/IMG_4583.webp");
  background-size: cover;
  background-position: center;
}

.education {
  grid-column: 1 / span 4;
  grid-row: 2;
  background-image: url("/img/pexels-photo-399160.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.skills {
  grid-column: 4 / span 3;
}

.experience {
  grid-column: 1 / span 3;
  grid-row: 3;
}
